.container{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.container .title{
   font-size: 64px;
   font-weight: 800;
   color: white;
}

.container .title .span1 {
    font-weight: 400;
}

.container .title .span2{
    color: #14A2F1;
}

.container .para{
    color: #B1B1B1;
    font-size: 14px;
    font-weight: 400;
    max-width: 555px;
}


.subcontainer{
    display: flex;
    align-items: center;
    gap: 32px;
}

.subcontainer .num{
    color: #14A2F1;
    font-size: 32px;
    font-weight: 700;
}

.subcontainer .pro{
    color: #E4E4E4;
    font-size: 20px;
    font-weight: 400;
}


/* .back1{
    background-image: url(../assets/back1.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
} */


/* mobile */
@media screen and (max-width: 480px) {
    .container .title{
        font-size: 44px;
        font-weight: 800;
        color: white;
     }
     
     .subcontainer .num{
        color: #14A2F1;
        font-size: 22px;
        font-weight: 700;
    }
    
    .subcontainer .pro{
        color: #E4E4E4;
        font-size: 10px;
        font-weight: 400;
    }
     
}
/* mobile */