.conn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    margin-top: 53px;
}



.con{
    width: 80%;
    margin: auto;
    margin-top: 205px;
}

.con .title{
   font-size: 40px;
   font-weight: 700;
   color: white;
   max-width: 605px;
   margin: auto;
}

.con .title .span1{
    font-weight: 400;
}

.con .title .span2{
    color: #14A2F1;
}

.con .desc{
    font-size: 14px;
    font-weight: 400;
    color: #b1b1b1;
}



.conn .boc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conn .boc h1{
 font-size: 24px;
 font-weight: 600;
 color: white;
}




.conn .boc{
    background-color: rgb(15, 15, 15);
    padding: 20px 20px;
    border: none;
    border-radius: 12px;
    transition: all 0.2s ease-in;
}

.conn .boc img{
    width: 60px;
}


/* Default Styles */
.conn .boc {
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.conn .boc p {
    font-size: 12px;
    font-weight: 400;
    color: #B1B1B1;
    transition: all 0.3s ease;
}

.conn .boc:hover, .conn .boc:hover p {
    transform: scale(1.1);
    color: white;
}

.conn .boc:nth-child(1):hover {
    background-color: #DD730A;
    box-shadow: 5px 0 5px 0 #FF860F;
}

.conn .boc:nth-child(2):hover {
    background-color: #11B8FF;
    box-shadow: 5px 0 5px 0 #1CBAFC80;
}

.conn .boc:nth-child(3):hover {
    background-color: #05E400;
    box-shadow: 5px 0 5px 0 #05E40080;
}

.conn .boc:nth-child(4):hover {
    background-color: #cec40c;
    box-shadow: 5px 0 5px 0 #FFF62780;
}

.conn .boc:nth-child(5):hover {
    background-color: #DD0A7C;
    box-shadow: 5px 0 5px 0 #DD0A7C80;
}

.conn .boc:nth-child(6):hover {
    background-color: #0AD0DD;
    box-shadow: 5px 0 5px 0 #0AD0DD80;
}
