.conn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    margin-top: 53px;
}



.con{
    width: 80%;
    margin: auto;
    line-height: 100%;
    margin-top: 55px;
}

.con .title{
   font-size: 40px;
   font-weight: 700;
   color: white;
}

.con .title .span1{
    font-weight: 400;
}

.con .title .span2{
    color: #14A2F1;
}

.con .desc{
    font-size: 14px;
    font-weight: 400;
    color: #b1b1b1;
}

.conn .boc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conn .boc h1{
 font-size: 24px;
 font-weight: 600;
 color: white;
}

.conn .boc p{
   font-size: 12px;
   font-weight: 400;
   color: #B1B1B1;
}

.conn .boc{
    background-color: rgb(15, 15, 15);
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    transition: all 0.2s ease-in;
}

.conn .boc img{
    width: 60px;
}


.conn .boc:hover{
    transform: scale(1.1);

}