.foundrr{
    background: #000;
    padding: 50px 0px 50px 0px;
    margin-top: 122px;
}

.founrr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.founrr .rig .Ameer{
    width: 655px;
}

.founrr .rig .hashim{
    width: 655px;
}

.founrr .rig .contt h2{
    font-size: 31px;
    color: #FFFFFF;
    font-weight: 700;
}

.founrr .rig .contt h3{
    font-size: 20px;
    font-weight: 700;
    color: #14A2F1;
}

.founrr .rig .contt p{
    color: #E4E4E4;
    font-size: 16px;
    font-weight: 600;
}

.founrr .rig .conu{
    display: flex;
    justify-content: space-between;
}

.founrr .rig .conu img{
    width: 50px;
    height: 50px;
}

.founrr .rig .contt{
    line-height: 40%;
    text-align: start;
}
