.bac1{
    background-image: url(../../../assets/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
     padding: 30px 0px 30px 0;
     position: relative;
     overflow: hidden;
     margin-top: 122px;
}



.contact{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
}

.contact .content{
    width: 40%;
}

.contact .content h1{
    font-size: 38px;
    font-weight: 700;
    color: #E4E4E4;
}

.contact .content p{
   font-size: 16px;
   font-weight: 400;
   color: #E4E4E4;
}

.contact .content .social {
   display: flex;
   align-items: center;
   gap: 12px;
}

.contact .form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
}

.contact .form input{
    padding: 20px 20px;
    background-color: #FFFFFF33;
    border: none;
    border-radius: 5px;
}

input {
    border: none; 
    outline: none; 
}

input::placeholder {
    color: rgb(230, 221, 221);
}

/* Input focus styling */
input:focus {
    outline: none; 
    border: none;
    color: white;
}



textarea {
    border: none; 
    outline: none; 
    color: white;
}

textarea::placeholder {
    color: rgb(230, 221, 221);
}

/* textarea focus styling */
textarea:focus {
    outline: none; 
    border: none;
    color: white;
}



.contact .form textarea{
    padding: 10px 20px;
    background-color: #FFFFFF33;
    border: none;
    border-radius: 5px;
}



.bacc1 {
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 50%;
    background-color: #FFFFFF29;
    animation: bounce 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite; 
    position: absolute;
    top: 0;
}

.bacc2 {
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 50%;
    background-color: #FFFFFF29;
    animation: bounce 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite; 
    position: absolute;
    top: 320px;
    right: 0;
}

@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(30px); 
    }
    50% {
        transform: translateX(-15px);
    }
    70% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(0); 
    }
}


  
.contact .form .btn{
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 10px;
}

@media screen and (max-width: 480px){
    .contact{
        display: flex;
        flex-direction: column;
    }
    .contact .content{
        width: 100%;
    }

    .contact .form{
        width: 100%;
        margin-top: 22px;
    }


    .bacc2 {
        top: 620px;
    }

    .contact .content h1{
        font-size: 29px;
    }

    .bac1{
        margin-top: 0;
    }
}