.box{
}

.Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    gap: 22px;
}

.Container .right{
    width: 40%;
    text-align: start;
}

.Container .left{
    width: 60%;
    text-align: start;
}

.Container .right h2{
     color: #B1B1B1;
     font-size: 24px;
     font-weight: 700;
}

.Container .right h1{
      font-size: 48px;
      font-weight: 400;
      color: white;
}

.Container .right h1 .span{
     color: #14A2F1;
     font-weight: 700;
}

.Container .right h1 .span1{
    color: white;
    font-weight: 700;
}

.Container .left p{
    color: #B1B1B1;
    font-size: 20px;
    font-weight: 400;
}

