.about22{
    width: 90%;
    margin: auto;
}

.about12l{
    background: #F8F8F8;
    padding-left: 52px;
    padding-bottom: 33px;
    display: flex;
    flex-direction: column;
    align-items: start;
     margin-top: 93px;
    border-radius: 10px;
}

.about12l title{
    font-size: 32px;
    font-weight: 600;
    color: #434343;
}

.about12l .dec{
    font-size: 24px;
    font-weight: 400;
    color: #434343;
    text-align: start;
}